@use '../custom';

@media (max-width: 576px) {
    .img-header-background {
        background: #FFDAB9;
        padding-top: 20vh;
        min-height: 100vh;
        width: 100%;
    }

    .header-text {
        padding: 15px;

        & h1 {
            font-size: 6vh !important;
        }

        & p {
            font-size: 3vh !important;
        }

        & h2 {
            font-size: 4vh !important;
        }

        & h3 {
            font-size: 2vh !important;
        }
    }

}

.img-header-background {
    position: relative;
    background: #FFDAB9;
    min-height: 100vh;
    width: 100%;
}

.img-profile {
    min-width: 35vw;
    margin: auto;
    animation: zoomIn 1s alternate 0s;
}


.header-text {
    & h1 {
        font-size: 6vw;
        color: var(--bs-primary);
        // margin-bottom: 30px;
        font-weight: 400;
        animation: main-img-anim 1.5s alternate 0s;
    }

    & p {
        font-size: 3vw;
        color: rgb(74, 74, 74);
        font-weight: 400;
        font-style: italic;
        line-height: 2vh;
        animation: main-img-anim 1.5s alternate 0s;
    }

    & h2 {
        font-size: 6vw;
        color: steelblue;
        font-weight: 700;
        font-style: bold !important;
        animation: main-img-anim 1.5s alternate 0s;
    }

    & h3 {
        font-size: 3vw;
        color: rgb(74, 74, 74);
        font-weight: 700;
        animation: main-img-anim 1.5s alternate 0s;
    }
}

.toast-welcome {
    position: fixed;
    width: auto;
    top: 68px;
    right: 8px;
    height: auto;
    z-index: 2001;
}

@keyframes main-img-anim {
    0% {
        transform: translate3d(-100%, -400%, 0);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 1;
    }
}

.zoomIn {
    animation: zoomIn .5s 0s;
}