@use '../custom';

.nav-item-name {
    transition: all .3s ease-in-out;
}

.nav-item-name:hover {
    animation: rubberBand;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.nav-link:hover {
    animation: rubberBand;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}